<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Aladin Lite Visualiser</title>
    <style>
        #aladin-lite-div {
            margin-top: 20px;
            border: 1px solid black;
            width: 500px;
            height: 500px;
        }
    </style>
</head>

<body>

    <h2>Upload FITS files</h2>





    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" multiple accept=".fits" name="file">
        <input type="submit" value="upload">
    </form>

    <h3>Uploaded files</h3>

    <p>Select one or multiple files to generate a HiPS</p>

    <form action="/generate_hips" method="POST" id='generateForm'>
        <button onclick="adaptForm(event);">Generate HiPS</button><br>
    </form>



    <input type="checkbox" name="selected_files" value="legacysurvey-1891m050-image-g.fits">
    legacysurvey-1891m050-image-g.fits

    <form action="/delete/legacysurvey-1891m050-image-g.fits" method="POST" style="display:inline;">
        <button type="submit">🗑️</button>
    </form>
    <br>

    <input type="checkbox" name="selected_files" value="legacysurvey-1891m052-image-z.fits">
    legacysurvey-1891m052-image-z.fits

    <form action="/delete/legacysurvey-1891m052-image-z.fits" method="POST" style="display:inline;">
        <button type="submit">🗑️</button>
    </form>
    <br>

    <input type="checkbox" name="selected_files" value="legacysurvey-1891m055-image-i.fits">
    legacysurvey-1891m055-image-i.fits

    <form action="/delete/legacysurvey-1891m055-image-i.fits" method="POST" style="display:inline;">
        <button type="submit">🗑️</button>
    </form>
    <br>

    <input type="checkbox" name="selected_files" value="legacysurvey-1891m057-image-g.fits">
    legacysurvey-1891m057-image-g.fits

    <form action="/delete/legacysurvey-1891m057-image-g.fits" method="POST" style="display:inline;">
        <button type="submit">🗑️</button>
    </form>
    <br>



    <form action="/deleteAll" method="POST">
        <button type="submit">Delete All</button>
    </form>

    <script>
        function adaptForm(e) {
            //console.log(e)
            //e.preventDefault();
            const checkboxes = document.getElementsByName('selected_files');
            //console.log(checkboxes);
            for (let cb of checkboxes) {
                console.log(cb.value);
                cb.setAttribute('form', 'generateForm');

            }
            document.getElementById('generateForm').requestSubmit();

            return true;
        }
    </script>





    <script type="text/javascript" src="https://aladin.u-strasbg.fr/AladinLite/api/v3/latest/aladin.js" charset="utf-8">
    </script>
    <script type="text/javascript">
        var hipsId = "";
        if (hipsId) {
            A.init.then(() => {
                var aladin = A.aladin('#aladin-lite-div');
                aladin.setImageSurvey(aladin.createImageSurvey(
                    hipsId,
                    "Custom HiPS",
                    "http://localhost:5000/hips/" + hipsId + "/",
                    "equatorial", 9,
                    { imgFormat: 'png' }
                ));
            });
        }
    </script>

</body>

</html>