<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Aladin Lite Visualiser</title>
    <style>
        #aladin-lite-div {
            margin-top: 20px;
            border: 1px solid black;
            width: 500px;
            height: 500px;
        }
    </style>
</head>

<body>

    <h2>Upload FITS files</h2>

    <form action="/deleteAll" method="POST">
        <button type="submit">Delete All</button>
    </form>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for m in messages %}
        <li>{{ m }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" multiple accept=".fits" name="file">
        <input type="submit" value="upload">
    </form>

    <h3>Fichiers déposés :</h3>
    {% if files %}
    <form action="/generate_hips" method="POST">
        <p>Select one or multiple files to generate a HiPS</p>
        {% for f in files %}
        <input type="checkbox" name="selected_files" value="{{ f.filename }}"> {{ f.filename }}<br>
        {% endfor %}
        <button type="submit">generate HiPS</button>
    </form>
    {% else %}
    <p>No file uploaded</p>
    {% endif %}

    {% if hips_id %}
    <h3>HiPS displayed :</h3>
    <div id="aladin-lite-div"></div>
    {% endif %}

    <script type="text/javascript" src="https://aladin.u-strasbg.fr/AladinLite/api/v3/latest/aladin.js" charset="utf-8">
    </script>
    <script type="text/javascript">
        if (hipsId) {
            A.init.then(() => {
                var aladin = A.aladin('#aladin-lite-div');
                aladin.setImageSurvey(aladin.createImageSurvey(
                    hipsId,
                    "Custom HiPS",
                    "http://localhost:5000/hips/" + hipsId + "/",
                    "equatorial", 9,
                    { imgFormat: 'png' }
                ));
            });
        }
    </script>

</body>

</html>