{% extends "base.html" %}

{% block title %}Web Pages{% endblock %}

{% block content %}

<script>const userID = "{{ request.cookies.get('userID') }}";</script>

<div class="main-container">

    <div class="left-column">

        <div class="search">
            <h3>Search within your HiPS</h3>

            <form id="search-form" method="GET" action="/visualiser">
                <input type="text" name="search" placeholder="Search HiPS..." value="{{ search_query }}">
                <button type="submit">Search</button>
            </form>


            <h3>HiPS List</h3>
        </div>

        <form id="display-form" action="/visualiser" method="POST"></form>
        <div id="file-selection-visualiser">
            {% for file in files %}
            <div class="file-row">
                <div class="file-button">
                    <label class="file-name">
                        <input type="radio" name="selected_file" value="{{ file }}" form="display-form"
                            onclick="displaySelectedHiPS()" id="radio" {% if selected_file==file %}checked{% endif %}>
                        {{ file }}
                    </label>
                    <div class="file-icons">
                        {% if selected_file == file %}✅{% endif %}
                        <form action="/delete/{{ request.cookies.get('userID') }}/{{ file }}" method="POST">
                            <button type="submit" class="delete-button" title="Supprimer">🗑️</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <script>
            function displaySelectedHiPS() {
                document.getElementById('display-form').submit();
            }
        </script>

        <div id="upload-container">
            <form id="catalog-form" enctype="multipart/form-data">
                <label>Upload CSV Catalog :
                    <br>
                    <input type="file" name="csv_file" required>
                </label><br>
                <label>Colonne RA :
                    <input type="text" name="ra_col" placeholder="_RAJ2000" required>
                </label><br>
                <label>Colonne Dec :
                    <input type="text" name="dec_col" placeholder="_DEJ2000" required>
                </label><br>
                <label>Colonne Score :
                    <input type="text" name="score_col" placeholder="Vmag" required>
                </label><br>
                <button type="submit">Générer et Afficher le Catalogue</button>
            </form>

        </div>

        <script>
            document.getElementById('catalog-form').addEventListener('submit', async (e) => {
                e.preventDefault();

                const formData = new FormData(e.target);

                const response = await fetch('/generate_catalog', {
                    method: 'POST',
                    body: formData
                });

                const result = await response.json();
                if (result.success) {
                    const catalogUrl = result.hips_url;
                    const cat = A.catalogHiPS(catalogUrl, { onClick: 'showTable', name: result.name });
                    aladin.addCatalog(cat);
                    alert("Catalogue HiPS ajouté !");
                } else {
                    alert("Erreur : " + result.error);
                }
            });
        </script>

    </div>

    <div class="right-column">
        {% if selected_file %}
        <div id="aladin-lite-div-visualization"></div>
        <script src="https://aladin.u-strasbg.fr/AladinLite/api/v3/latest/aladin.js" charset="utf-8"></script>
        <script>
            A.init.then(() => {
                const aladin = A.aladin('#aladin-lite-div-visualization', {
                    survey: "{{ hips_url }}"
                });

                {% for catalog_name in user_catalogs %}
                aladin.addCatalog(
                    A.catalogHiPS(
                        "/user_catalogs/{{ user_id }}/{{ catalog_name }}/hips",
                        { onClick: 'showTable', name: "{{ catalog_name }}" }
                    )
                );
                {% endfor %}

                aladin.addCatalog(
                    A.catalogHiPS(
                        'https://hipscat.cds.unistra.fr/HiPSCatService/Simbad',
                        { onClick: 'showTable', name: 'Simbad' }
                    )
                );
                aladin.addCatalog(
                    A.catalogHiPS(
                        'https://hipscat.cds.unistra.fr/HiPSCatService/I/355/gaiadr3/',
                        { onClick: 'showTable', name: 'Gaia DR3' }
                    )
                );

                fetch(`/infosvis?hips_id={{ hips_id }}`)
                    .then(r => r.ok ? r.json() : Promise.reject('network error'))
                    .then(data => {
                        aladin.gotoRaDec(data.hips_ra, data.hips_dec);
                        aladin.setFoV(data.hips_fov);
                    })
                    .catch(console.error);
            });
        </script>
        {% endif %}
    </div>
</div>


{% endblock %}